@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Shadows+Into+Light:100,200,300,400,500,600,700|Montserrat:100,200,300,400,500,600,700");



.wrapper {
    height: 100vh;
  

    background: url("../images/pancakes.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
  }

  .blueberry-home{
      padding-left: 2%;
      text-align: left;
  }

  .home-nav {
      padding-left: 2%;
  }

  .pancake-text {
      background-color: F8F9FA;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 5;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: 400;
      margin: 5%;
      height: 90%;
      background: rgba(255, 255, 255, .6);
      border-radius: 25px;
      
  }
  
  .about-wrapper {
    height: 200vh;
  

    background: url("../images/pancakes.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
  }

  .navbar-fonts {
      letter-spacing: 1px;
  }

  .pancake-pic {
    
    height: 50px;
}

  .about-h1{
      letter-spacing: 2px;
      margin-top: 5%;
      margin-bottom: 3%;
      text-decoration-line: underline;
      opacity: 90%;
  }
  
  div.text-center {
      text-align: left;
  }

  .recipe-pic {
      max-width: 100%;
      height: auto;
  }

  .recipe-background {
      background-color: rgba(237, 237, 237, .8);
      margin: 30px;
      padding-top: 20px;
      border-radius: 25px;
      line-height: 35px;
  }

  .recipe-ul {
      padding-left: 0;
  }

  .intructions {
      text-align: left;
  }

  .instructions-holder {
      background-color: rgba(255, 255, 255, .6);
      padding: 10px;
  }

  footer {
      text-align: center;
      font-size: 15px;
      letter-spacing: 2px;
      margin-top: 2%;
  }

  .social-links {
      font-size: 30px;
      letter-spacing: 5px;
      color: rgba(104, 104, 104, 0.6);
      margin-bottom: 1%;
  }

  .theo-tag {
    text-decoration-line: none;
    color: rgba(57, 55, 173, 0.6);
  }